<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some website</title>
    </head>
    <body>
        <h1>We'll be rigth back</h1>
        <p1> The website is under maintenance, please try again later </p1>
    </body>
</html>
